-# %h1 新規投稿画面
-# .manga
-#   = form_with model: @comic, html: {class: "Form"}, local: true do |f|
-#     = f.text_field :name, placeholder: "作品名"
-#     %br
-#     = f.collection_check_boxes :genre_ids, Genre.all, :id, :genre
-#     %br
-#     = f.file_field :image, placeholder: "漫画の画像"
-#     %br
-#     = f.number_field :number_of_books, placeholder: "巻数"
-#     %br
-#     = f.text_area :summary, placeholder: "あらすじ" 
-#     %br
-#     = f.text_area :review, placeholder: "レビュー"
-#     %br
-#     = f.submit "保存"

//   一応残しておくが、最終的には消す予定。ここでform使ってもやりたいことできんかった、同じことをauthorのnewでやってます。