.wrapper__request

  .header__user
    %p.app-title__box
      = link_to "Comic-Remember", root_path, class: "app-title"

  .display__request
    %section.request__box
      %h2.requests__all 要望一覧
      %ul.display__list
        - if @requests.present?
          .requests__list
            - @requests.each do |comic|
              %li.comic-box__result
                = link_to "#" do
                  = comic.comicname
        - else
          紹介依頼はありません
          %div
