* {
  box-sizing: border-box;
}




.wrapper {
  display: block;
  background-color: #f5f5f5;
  a {
    color: black;
    text-decoration: none;
  }
}

// ヘッダーのCSS
.header {
  height: auto;
  #menu {
    width: 310px;
    height: 100vh;
    border-left: solid 1px silver;
    padding-top: 50px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translateX(300px); /* right0から250px移動した位置 */
    transition: all .5s; /* 移動する速さ */
    .peke {
      position: absolute;
      top: 0;
      left: -45px;
      .peke_mark {      //バッテンアイコン
        color: rgb(82, 85, 82);
        font-size: 50px;
        cursor: pointer;
      }
    }
    // .three_bars-icon {
    //   position: absolute;
    //   top: 10px;
    //   left: -45px;
    //   .three_bars {
    //     font-size: 30px;
    //     cursor: pointer;
    //   }
    // }
    .peke-none {
      display: none;
    }
    ul {
      border-top: solid 1px silver;
      .menu_list {
        border-bottom: solid 1px silver;
        padding: 15px;
        position: relative;
        a:hover {
          color: lightcoral;
        }
        .maru_btn {           // 画面右の丸btn
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #b6bdb2;
          border: solid 1px rgb(190, 184, 184);
          left: -5px;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
        }
        .maru_btn.open {
          border: solid 1px black;
          background-color: black;
          width: 15px;
          height: 3px;
        }
      }
    }
  }
  #menu.open {
    transform: translateX(0); /* right0まで-250px移動 */
    background-color: #e0ecd9;
    border: none;
  }
  .menu-background {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0; /* 透明度を0にすることで隠す */
    transition: opacity 0.5s; /* 透明度の0→1になる速度 */
  }
  .menu-background.open {
    width: 100%;
    height: 100%;
    opacity: 1; /* メニューが表示されているときには背景が表示 */
  }
  &__up {
    display: flex;
    align-items: flex-end;
    border-bottom: solid 1px silver;
    padding: 10px 40px 10px;
    &__left {
      margin-right: auto;
      width: 70%;
      font-size: 20px;
      line-height: 1.5em;
      text-align: center;
      overflow: hidden;
    }
    &__left span{
      display: inline-block;
      padding-left: 100%;
      white-space: nowrap;
      line-height: 1em;
      animation: scrollAnime 17s linear infinite;
    }
    @keyframes scrollAnime{
        0% { transform: translateX(0)}
      100% { transform: translateX(-100%)}
    }
    &__right {
      ul {
        display: flex;
        .btn {
          margin-left: 10px;
          font-size: 16px;
        }
        .btn:hover {
          color: lightcoral;
        }
        .current__user__name {
          line-height: 30px;
          margin-right: 20px;
        }
        .current__user__name:hover {
          color: lightcoral;
          cursor: pointer;
        }
        .three_bars {
          font-size: 28px;
          cursor: pointer;
        }
      }
    }
  }

  &__under {
    margin-top: 20px;
    padding: 10px;
    .app-title__box {
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      a {
        padding: 20px;
        background-color: #71dd9e;
        border-radius: 50px;
        color: white;
      }
    }
  }
}


//ヘッダーの下のCSS
.top {
  padding: 20px 100px 40px;
  height: auto;
  display: flex;
}


//トップ内の左のCSS
.main {
  background-color: #e2dfdf;
  width: 70%;
  height: auto;
  margin-bottom: 40px;
  padding: 5px;
  border-radius: 3px;
  .select {
    padding-top: 4px;
    &__list {
      display: flex;
      .list__type {
        background-color: #e2dfdf;
        margin-left: 50px;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        a {
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;
        }
      }
      .inactive__btn:hover {
        opacity: 0.5;
      }
      a:hover {
        color: lightcoral;
      }
      .active__btn {
        background-color: white;
      }
    }
  }
  .display {
    background-color: white;
    height: calc(100% - 65px);
    padding: 40px 100px;
    .comics__all-box {
      padding: 0 50px;
      .comics__all {
        font-size: 24px;
        color: rgb(147, 224, 147);
        margin-bottom: 30px;
      }
      .comic-box {
        text-decoration: none;
        margin-bottom: 30px;
        padding: 5px;
        border-bottom: 1px solid lightgreen;
        &__link {
          font-size: 20px;
          text-decoration: none;
        }
        &__data {
          display: flex;
          justify-content: space-between;
        }
        .comic-box__data:hover {
          color: lightcoral;
        }
      }
    }
  }
}


//トップ内の右のサイドバーCSS
.side {
  background-color: #f5f5f5;
  margin-left: 30px;
  width: 30%;
  &__up {
    height: 430px;
    text-align: center;
    background-color: white;
    padding: 30px 0;
    border: solid 2px #e2dfdf;
    border-radius: 3px;
    position: relative;
    .slide_show-box {
      width: 210px;
      margin: 0 auto;
      position: relative;
      .slide__image {
        position: absolute;   //画像を同じ位置に表示したいのでこれで同じ位置にしてる（これしないと下に下に出てしまう）
      }
    }
    .display_hide {        // 画像の非表示コーーど
      opacity: 0;
      transition: .7s;
    }
    .show {         // 画像の対象を表示コーーど
      opacity: 1;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 10px;
      span {
        border-bottom: solid 3px red;
      }
    }
    &__image {
      height: 300px;
      width: 200px;
      object-fit: scale-down;
      border: dashed 1px rgb(226, 234, 236);
    }
    &__list {
      display: flex;
      justify-content: center;
      position: absolute;   //ここからポジションで左右中央にするコード
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      &__btn{
        margin-left: 5px;
        .circle__btn {
          color: lightgrey;
          cursor: pointer;
        }
        .circle__btn:hover {
          opacity: 0.7;
        }
        .circle__active {
          color: rgb(163, 236, 176);
        }
      }
    }
  }

  &__under {
    background-color: white;
    height: 500px;
    margin-top: 10px;
    padding: 40px;
    text-align: center;
    border: solid 2px #e2dfdf;
    border-radius: 3px;
    p {
      font-size: 24px;
      span {
        border-bottom: solid 3px red;
      }
    }
    &__list {
      overflow: auto;
      &__notice {
        margin-bottom: 15px;
        .notice__date {
          text-align: left;
          padding-left: 100px;
        }
      }
      a:hover {
        color: lightcoral;
      }
    }
  }
}


//作品詳細画面のCSS
.top-show {
  padding: 20px 200px 40px;
  height: auto;
  display: flex;

  .main-show {
    background-color: white;
    padding: 40px;
    width: 850px;
    margin: 0 auto;

    &__box {
      h3 {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: lightgreen;
        margin-bottom: 20px;
      }
      &__up {
        display: flex;

        .show__image {
          img {
            width: 250px;
            height: 400px;
            object-fit: scale-down;
            // border: dashed 1px rgb(243, 240, 240);
          }
        }
        .show__info {
          max-width: 520px;
          padding: 40px 0 40px 40px;
          .infoTitle {
            font-size: 16px;
          }
          .blueColor {
            color: #1a73e8;
          }
          .redColor {
            color: #e8391a;
            font-size: 16px;
          }
          &__comicName {
            font-size: 28px;
            margin-bottom: 20px;
            .blueColor {
              font-weight: bold;
            }
          }
          &__authorName {
            font-size: 24px;
            margin-bottom: 20px;
          }
          &__bookNumber {
            font-size: 20px;
            margin-bottom: 20px;
          }
          &__genre {
            font-size: 20px;
            margin-bottom: 20px;
          }
        }
      }

      .show__summary {
        margin-top: 40px;
        span {
          border-bottom: solid 2px rgb(238, 41, 100);
        }
        div {
          margin-top: 10px;
        }
      }

      .show__review {
        margin-top: 40px;
        span {
          border-bottom: solid 2px rgb(238, 41, 100);
        }
        &__box {
          display: flex;
          margin-top: 10px;
          &__icon {
            margin: 20px 50px 0 40px;
            .admin-icon {
              font-size: 50px;
            }
          }
          &__comment {
            padding: 10px 20px;
            width: 500px;
            max-width: 500px;
            white-space: pre-wrap;
            border: solid 3px #dbdbec;
            position: relative;
            z-index: 0;
          }
          //擬似要素で吹出し再現
          &__comment:before {
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
            content: "";
            position: absolute;
            top: 50%; left: -8px;
            margin-top: -9px;
            display: block;
            width: 0px;
            height: 0px;
            z-index: 0;
          }
          &__comment:after {
            border-style: solid;
            border-width: 11px 11px 11px 0;
            border-color: transparent #dbdbec transparent transparent;
            content: "";
            position: absolute;
            top: 50%; left: -12px;
            margin-top: -10px;
            display: block;
            width: 0px;
            height: 0px;
            z-index: -1;
          }
        }
      }

      .show__btn {
        margin-top: 40px;
        &__root {
          margin: 0 auto;
          width: 250px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          border-radius: 30px;
          background-color: blanchedalmond;
        }
        &__root:hover {
          opacity: 0.6;
        }
        &__edit-delete {
          margin-top: 50px;
          display: flex;
          justify-content: space-around;
          a:hover {
            opacity: 0.6;
          }
          .show__edit-btn {
            background-color: lightblue;
            height: 30px;
            width: 200px;
            line-height: 30px;
            border-radius: 30px;
            text-align: center;
          }
          .show__delete-btn {
            background-color: lightcoral;
            height: 30px;
            width: 200px;
            line-height: 30px;
            border-radius: 30px;
            text-align: center;
          }
        }
      }
    }
  }
}



// 作品投稿のCSS（authors/new）
.wrapper__comic {
  display: block;
  background-color: #f5f5f5;
  height: auto;
  padding: 30px 0;

  // アプリ名のヘッダーCSS
  .header__comic {
    text-align: center;
    .app-title__box {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      a {
        padding: 20px;
        background-color: #71dd9e;
        border-radius: 50px;
        color: white;
        text-decoration: none;
      }
    }
  }

  .main__comic-box {
    padding: 40px 0;
    &__center {
      width: 700px;
      margin: 0 auto;
      padding: 40px 0;
      background-color: white;

      .comic__delete__field {
        margin: 30px auto 0;
        width: 320px;
        text-align: center;
        background-color: #caccca;
        cursor: pointer;
        .comic__delete__btn {
          width: 320px;
          height: 40px;
          line-height: 40px;
          border: none;
          text-decoration: none;
          color: black;
        }
      }
      .comic__delete__field:hover {
        opacity: 0.6;
      }
    }
    h2 {
      color: #93e093;
      font-size: 24px;
      width: 600px;
      margin: 0 auto 20px;
      text-align: center;
    }

    .field_all {
      width: 600px;
      margin: 0 auto;
      .field {
        margin-bottom: 20px;
        span {
          font-size: 13px;
        }
        .form_default {
          width: 400px;
          height: 40px;
          padding: 15px;
          outline: none;
        }
        .form_default:focus {
          border: solid 1px #c7e9d5;
          box-shadow: inset 0 0 5px #71dd9e;
        }
        .form_number {
          width: 160px;
          height: 40px;
          padding: 15px;
          outline: none;
        }
        //巻数フォームのスピンbtn消す
        .form_number::-webkit-inner-spin-button,
        .form_number::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
            -moz-appearance:textfield;
        }
        .form_number:focus {
          border: solid 1px #c7e9d5;
          box-shadow: inset 0 0 5px #71dd9e;
        }
        .form_summary {
          width: 580px;
          height: 200px;
          padding: 15px;
          outline: none;
          resize: none;
        }
        .form_review {
          width: 580px;
          height: 130px;
          padding: 15px;
          outline: none;
          resize: none;
        }
        .form_summary:focus {
          border: solid 1px #c7e9d5;
          box-shadow: inset 0 0 5px #71dd9e;
        }
        .form_review:focus {
          border: solid 1px #c7e9d5;
          box-shadow: inset 0 0 5px #71dd9e;
        }
        .form_image {
          display: none;
        }
        .preview {
          margin-top: 20px;
          .previews__field {
            position: relative;
            img {
              width: 200px;
              height: 200px;
              object-fit: scale-down;
              border: dotted 1px lightgray;
            }
            .edit_btn-box {
              position: absolute;
              top: 30px;
              left: 250px;
              background-color: #f5f5f5;
              border-radius: 10px;
              padding: 10px 28px;
              span {
                cursor: pointer;
                font-size: 18px;
              }
            }
            .edit_btn-box:hover {
              border: solid 1px #c7e9d5;
              box-shadow: inset 0 0 5px #71dd9e;
            }
          }
        }
        .icon {
          height: 70px;
          width: 200px;
          color: #c9f0bf;
          font-size: 40px;
          text-align: center;
          background-color: rgb(245, 245, 245);
          border: solid 1px black;
          border-radius: 5px;
          padding: 12px;
          cursor: pointer;
        }
        .icon:hover {
          border: solid 1px #c7e9d5;
          box-shadow: inset 0 0 5px #71dd9e;
          color: #9ae4b9;
        }
      }
      .actions {
        padding-top: 10px;
        width: 320px;
        margin: 0 auto;
        .form_submit {
          width: 320px;
          height: 40px;
          line-height: 40px;
          background-color: #c7ecc7;
          border: none;
          cursor: pointer;
          outline: none;
        }
      }
      .actions:hover {
        opacity: 0.6;
      }
    }
  }
}