//検索画面のCSS（comics/index.html）

.search-box {
  p {
    font-size: 24px;
    color: rgb(147, 224, 147);
    margin-bottom: 30px;
  }

  label {
    font-size: 20px;
  }

  &__word {
    margin-bottom: 30px;
    #q_name_or_author_name_cont {
      width: 100%;
      height: 40px;
      margin-top: 10px;
      padding: 0 10px;
    }
  }

  &__genre {
    margin-bottom: 30px;
    #q_genres_id_eq {
      width: 100%;
      height: 40px;
      margin-top: 10px;
      padding: 0 10px;
    }
  }

  &__number-of-books {
    margin-bottom: 30px;
    #q_number_of_books_gteq {
      height: 40px;
      width: 120px;
      margin-top: 10px;
      padding: 0 10px;
    }

    .wavy-line {
      font-weight: bold;
      font-size: 20px;
      margin: 0 30px;
    }

    #q_number_of_books_lt {
      height: 40px;
      width: 120px;
      padding: 0 10px;
    }
  }

  &__btn {
    margin: 40px auto 0;
    width: 250px;
    height: 40px;
    .search__btn {
      height: 100%;
      width: 100%;
      color: white;
      font-weight: bold;
      font-size: 24px;
      background-color: rgb(147, 224, 147);
      border: none;
      border-radius: 20px;
      cursor: pointer;
      outline: none;
    }
  }
}


//検索結果のCSS

.display__search {
  background-color: white;
  height: calc(100% - 65px);
  padding: 40px 40px;

  .search-result__box {
    .search-result {
      font-size: 28px;
      color: rgb(147, 224, 147);
      margin-bottom: 30px;
      padding-left: 40px;
    }

    ul {
      .search-result__count {
        font-size: 20px;
        margin-bottom: 40px;
        padding-left: 50px;
      }
      .comics-box__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5 1fr);
        justify-items: center;
        align-items: center;
        .comic-box__result {
          width: 320px;
          height: 360px;
          padding: 10px;
          // border: dashed 1px lightgray;
          position: relative;
          .up-left {
            width: 100px;
            height: 50px;
            position: absolute;
            left: 0;
            top: 0;
            border-left: solid 1px rgb(187, 196, 187);
            border-top: solid 1px rgb(187, 196, 187);
          }
          .under-right {
            width: 100px;
            height: 50px;
            position: absolute;
            right: 0;
            bottom: 20px;
            border-right: solid 1px rgb(187, 196, 187);
            border-bottom: solid 1px rgb(187, 196, 187);
          }
          // .up-right {
          //   width: 50px;
          //   height: 100px;
          //   position: absolute;
          //   right: 0;
          //   top: 0px;
          //   border-right: solid 1px rgb(187, 196, 187);
          //   border-top: solid 1px rgb(187, 196, 187);
          // }
          // .under-left {
          //   width: 50px;
          //   height: 100px;
          //   position: absolute;
          //   left: 0;
          //   bottom: 20px;
          //   border-left: solid 1px rgb(187, 196, 187);
          //   border-bottom: solid 1px rgb(187, 196, 187);
          // }
          &__data {
            display: flex;
            margin-bottom: 15px;
            .comic__result__image {
              margin-right: 20px;
              img {
                width: 120px;
                height: 192px;
                object-fit: scale-down;
                // border: dashed 1px lawngreen;
              }
            }
            .comic__result__name__list {
              max-width: 160px;
              word-wrap:break-word;
              .comic__result__name {
                font-size: 16px;
                margin: 10px 0;
              }
              .comic__result__author-name {
                font-size: 16px;
              }
            }
          }
          &__summary {
            padding: 0 20px 0;
            max-height: 120px;
            max-width: 300px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
          }
        }
      }
      .displayed__results {
        font-size: 18px;
        margin-bottom: 40px;
        padding-left: 50px;
        color: #8a8282;
      }
    }

    .no__search-result {
      font-size: 20px;
      margin-bottom: 40px;
      padding-left: 50px;
    }
  }
}



// ブックマーク一覧CSS

.wrapper__bookmark {
  display: block;
  background-color: #f5f5f5;
  height: auto;
  padding: 30px 0;

  .header__user {
    text-align: center;
    .app-title__box {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      a {
        padding: 20px;
        background-color: #71dd9e;
        border-radius: 50px;
        color: white;
        text-decoration: none;
      }
    }
  }
}

.display__bookmark {
  background-color: white;
  height: auto;
  padding: 40px 40px;
  margin: 40px auto 0;
  width: 1300px;


  .search-result__box {
    .search-result {
      font-size: 28px;
      color: rgb(147, 224, 147);
      margin-bottom: 30px;
      padding-left: 40px;
    }

    ul {
      .search-result__count {
        font-size: 20px;
        margin-bottom: 40px;
        padding-left: 50px;
      }
      .bookmark-box__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);  // ブクマ画面はここで3つにしてる（検索結果は2つ
        grid-template-rows: repeat(5 1fr);
        justify-items: center;
        align-items: center;
        .comic-box__result {
          width: 320px;
          height: 360px;
          padding: 10px;
          position: relative;
          .up-left {
            width: 100px;
            height: 50px;
            position: absolute;
            left: 0;
            top: 0;
            border-left: solid 1px rgb(187, 196, 187);
            border-top: solid 1px rgb(187, 196, 187);
          }
          .under-right {
            width: 100px;
            height: 50px;
            position: absolute;
            right: 0;
            bottom: 20px;
            border-right: solid 1px rgb(187, 196, 187);
            border-bottom: solid 1px rgb(187, 196, 187);
          }
          .comic-box__link {    //なぜか下線ついたので消す、あと色も指定
            text-decoration: none;
            color: black;
          }
          &__data {
            display: flex;
            margin-bottom: 15px;
            .comic__result__image {
              margin-right: 20px;
              img {
                width: 120px;
                height: 192px;
                object-fit: scale-down;
              }
            }
            .comic__result__name__list {
              max-width: 160px;
              word-wrap:break-word;
              .comic__result__name {
                font-size: 16px;
                margin: 10px 0;
              }
              .comic__result__author-name {
                font-size: 16px;
              }
            }
          }
          &__summary {
            padding: 0 20px 0;
            max-height: 120px;
            max-width: 300px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
          }
        }
      }
    }
  }
}