* {
  box-sizing: border-box;
}




.wrapper {
  display: block;
  height: 100vh;
}

.header {
  background-color: red;
  height: 80px;
  display: flex;
  justify-content: space-between;
  &__left{
    background-color: limegreen;
    width: 70%;
    .app-title{
      font-size: 40px;
      margin-left: 20px;
      line-height: 80px;
      text-decoration: none;
    }
  }
  &__right {
    background-color: lightseagreen;
    width: 30%;
    display: flex;
    padding-left: 250px;
    .login-btn {
      line-height: 80px;
      margin-right: 10px;
      background-color: magenta;
    }
    .logout-btn {
      line-height: 80px;
      margin-right: 10px;
      background-color: blueviolet;
    }
    .edit-btn {
      line-height: 80px;
      margin-right: 10px;
      background-color: yellowgreen;
    }
    .new-btn {
      line-height: 80px;
      margin-right: 10px;
      background-color: lightcyan;
    }
  }
}

.top {
  background-color: lightblue;
  // height: calc(100vh - 10%);
  height: 1500px;
  display: flex;
}


.main {
  background-color: lightskyblue;
  width: 70%;
  .select {
    &__list {
      display: flex;
      .list__type {
        background-color: lightcyan;
        margin-left: 50px;
        padding: 10px;
      }
    }
  }
  .display {
    background-color: #e6e6e6;
    height: 1000px;
    padding: 40px 100px;
    .comic-box {
      background-color: lightgrey;
      // display: flex;
      // justify-content: space-around;
      margin-bottom: 15px;
      padding: 5px;
      border-bottom: 1px solid lightgreen;
      &__link {
        font-size: 20px;
        text-decoration: none;
      }
      &__data {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.side {
  background-color: lightpink;
  width: 30%;
  &__up {
    background-color: lightslategray;
    height: 50vh;
    text-align: center;
    &__image {
      height: 300px;
      width: 200px;
    }
    &__list {
      display: flex;
      justify-content: center;
      &__btn{
        margin-left: 5px;
        .circle__btn {
          color: red;
        }
      }
    }
  }

  &__under {
    background-color: lightgreen;
    height: 400px;
    padding-top: 40px;
    text-align: center;
        &__list__notice {
          margin-bottom: 15px;
          .notice__date {
            text-align: left;
            padding-left: 100px;
          }
        }
  }
}
